*{
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
 color: #9a2;
}

:-moz-placeholder { /* Firefox 18- */
 color: #9a2;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #9a2;
}

:-ms-input-placeholder {
 color: #9a2;
}


body {
  min-width: 500px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
a {
  text-decoration: none;
}
input,
button {
  font-family: 'Roboto', sans-serif;
}
button {
  cursor: pointer;
}
a,
input:focus,
button:focus{
  outline: none;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 35px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: #9a2;
  margin: 0 0 20px 0;
  font-size: 32px;
}
strong {
  border: 1px solid #ccc;
  color: #9a2;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
header {
  padding: 20px 0;
}
.area-do-logo {
  display: inline-block;
  width: 86%;
}
.logo {
  width: 100px;
  height: 25px;
}
.login {
  text-transform: uppercase;
}
.login strong {
  font-weight: 700;
  font-size: 20px;
  border: 0;
}
.encurtador {
  padding: 150px 0 165px;
  background: #48521D url('../img/background-home.jpg')  center center;
  background-size: cover;
  color: #fff;
}
.encurtador h1 {
  margin: 0;
  margin-bottom: 10px;
}
.encurtador form {
  margin-top: 50px;
}
.encurtador input,
.encurtador button {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
#input-url {
  background: transparent;
  border: none;
  border-bottom: 2px solid #9a2;
  font-weight: 500;
  width: 270px;
  padding-right: 20px;
  font-size: 14px;
}
#botao-limpar{
  background: transparent;
  border: none;
  /* border-bottom: 2px solid #9a2; tamanho estilo cor */
  margin-left: -10px;
  font-weight: 500;
  padding-right: 0;
  padding-left: 0;
}
#botao-encurtar {
  background-color: #c00;
  border: none;
  text-transform: uppercase;
  /*height: 30px;*/
  margin-left: 8px;
  font-weight: 500;
  width: 110px;
}
#botao-encurtar:hover {
  background-color: #FF0000;
}

.lista-top5,
.lista-top5 li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-top5 {
  width: 45%;
  margin: 0 auto;
  text-align: left;
}

.lista-top5 li {
  padding: 10px 0;
}

.lista-top5 li + li {
  border-top: 1px solid #eee;
}

.lista-top5 .contador {
  float: right;
}

.top5  {
  padding: 40px 0;
}

.top5 a {
  text-transform: lowercase;
  /* font-family: 'Roboto Slab', serif; */
  color: #9a2;
  font-weight: 500;
}
.lista-top5 a:hover {
  color: #c5da35;
}
.lista-top5 a:focus {
  color: #576113;
}

.hits {
  background-color: #EEE;
  padding: 50px 0;
}

.hits:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  margin: 0 auto;
  margin-top: -90px;

  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 35px solid #fff;
}

.hits strong {
  display: block;
  width: 175px;
  margin: 8px auto;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  /* color: #9a2; */
  /* font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400; */
  border-radius: 5px;
}
.hits p,
.creditos a {
  font-weight: 300;
  color: #777;
}

.footer {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: right;
}
.creditos {
  float: left;
  line-height: 20px;
}
.creditos a {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.redes-sociais {
  margin-top: 8px;
}

.redes-sociais a + a {
  margin-left: 18px;
}
